.khan__buy-link {
    border: solid 1px red;
    margin-left: 48px;
    line-height: 42px;
    font-size: 30px;
    font-weight: normal;
    color:  #2f80ed;
    text-decoration: none;
    
    }
.khan__buy-link:hover {
    opacity: 0.5;
    transition-timing-function: ease;
    transition-duration: 0.1s;
    transition-delay: 0.5s;
}